* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4 {
  display: inline-block;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.full-width-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.position-absolute {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.circle {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  margin-right: 2rem;
}
.flex-gap > *:not(:last-child) {
  margin-right: 2rem;
}
.circle-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}
.custom-styled-div {
  background-color: #e7e5e5;
  border-radius: 6%;
}
.card {
  background-color: white;
  border-radius: 15px;
  width: 270px;
  max-height: 60%;
  padding: 15px;
}
.limited_red_box {
  width: 45%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C64444;
  color: white;
  text-align: center;
  border-radius: 5px;
}
.top-rounded {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.scroll{
  overflow-x: scroll;
}
.category_card{
  width: 200px;
  height: 150px;
  overflow: hidden;
  border-radius: 15px;
  background-color: white;
  margin: 10px;
}